<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name=”robots” content="index, follow">
  <meta name="description" content="“HelpSetu: Empowering India’s local residents to report and address critical social issues. From child labor to elder neglect, we connect people with authorities, making a positive impact. Join us in creating a better world. make more beautifull">
  <meta name="keywords" content="HelpSetu, social issues, India, child labor, domestic violence, education, elder neglect, missing persons, animals, roadkill, corruption, NGOs, police, hospitals,education gaps,dowry,">
  <link rel="shortcut icon" href="../static/images/image.png" type="image/x-icon">
  <title>HelpSetu | Donate Us</title>
  <link rel="stylesheet" href="../static/css/donate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  
</head>
<body>
 
 
  <div class="container">
    <div class="box">
      <div class="box1">
        <div class="head">
          <h1>Why Donate to HelpSetu?</h1>
          <p>
            HelpSetu relies on donations from generous individuals like you to continue our mission of empowering local residents in India to report various social issues and facilitating timely interventions.
          </p>
          <button class="dropbtn"><a href="https://forms.gle/vXvngvht83p8iour8" class="donate-button" target="_blank">Donate-Now</a></button>
        
        </div>
      </div>
      <div class="box2">
          <div class="head2">
            <h2>Your donation will help us in the following ways:</h2>
            <p>1.Support the operational costs of our help portal website.</p>
            <p>2.Enable us to reach out to more communities and raise awareness about social issues</p>
            <p>3.Enhance our ability to coordinate with relevant authorities for effective interventions.</p>
            
          </div>
          
      </div>

    </div> 

  </div>

  <div class="box-footer">
    <div class="foot">
      <div class="foot1">
        <h1>Help-Desk</h1>
        <h2>Email:-mail.helpsetu@gmail.com</h2>
      </div>
      <div class="foot2">
        <h1>Our Handles</h1>
        <div class="icons">
          <a href=""><i class="fa-brands fa-twitter" style="color: #74C0FC;"><h2></h2></i></a>
            <a href=""><i class="fa-brands fa-facebook" style="color: #63E6BE;"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram" style="color: #e61e89;"></i></a>
        </div>
        
      </div>
      <div class="foot3">
        <h1>Call-Us</h1>
        <h2>Phone:-000-111-1234</h2>
      </div>
      

      
    </div>

  </div>

  
</body>
</html>
