<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpSetu | Partners</title>
    <meta name=”robots” content="index, follow">
    <meta name="description" content="“HelpSetu: Empowering India’s local residents to report and address critical social issues. From child labor to elder neglect, we connect people with authorities, making a positive impact. Join us in creating a better world. make more beautifull">
    <meta name="keywords" content="HelpSetu, social issues, India, child labor, domestic violence, education, elder neglect, missing persons, animals, roadkill, corruption, NGOs, police, hospitals,education gaps,dowry,">
    <link rel="shortcut icon" href="../static/images/image.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/partners.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
  <div class="hero">
    
    <div class="box">
      
      <div class="container">
        <h1 class="head">Our-Partners</h1>

      </div>
    </div> 

    
  </div>
    


    
   
    <!-- footer -->
    <div class="foot">
        <div class="foot1">
          <h1>Help-Desk</h1>
          <h2>Email:-mail.helpsetu@gmail.com</h2>
        </div>
        <div class="foot2">
          <h1>Our Handles</h1>
          <div class="icons">
            <a href=""><i class="fa-brands fa-twitter" style="color: #74C0FC;"><h2></h2></i></a>
            <a href=""><i class="fa-brands fa-facebook" style="color: #63E6BE;"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram" style="color: #e61e89;"></i></a>
          </div>
          
        </div>
        <div class="foot3">
          <h1>Call-Us</h1>
          <h2>Phone:-000-111-1234</h2>
        </div>
        

        
      </div>
    
      

    <script src="static\js\script.js"></script>

</body>
</html>