<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank-You</title>
  <link rel="stylesheet" href="../static/css/tq.css">
  <meta name=”robots” content="index, follow">
  <link rel="shortcut icon" href="../static/images/image.png" type="image/x-icon">
  <meta name="description" content="“HelpSetu: Empowering India’s local residents to report and address critical social issues. From child labor to elder neglect, we connect people with authorities, making a positive impact. Join us in creating a better world And make more beautifull">
  <meta name="keywords" content="HelpSetu, social issues, India, child labor, domestic violence, education, elder neglect, missing persons, animals, roadkill, corruption, NGOs, police, hospitals,education gaps,dowry,">

 
</head>
<body>
  <div class="container">
    <div class="box"> <!-- Thank you message -->
      <h2>Thank You for Your Submission!</h2>
      <div class="para">
        <p>We appreciate your contribution and will review your form as soon as possible.You are making a difference in the world, and we are grateful for your support.Please share it on WhatsApp that you have helped mankind</p>
       
      </div>
      <!-- Share on WhatsApp button -->
      <button class="dropbtn" ><a href="whatsapp://send?text=Hey, check out this form and help us make a change: https://example.com/form.html" data-action="share/whatsapp/share">Share on WhatsApp</a></button>
    </div>

    </div>

   </div>
</body>
</html>
